.div3{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
    padding-top: 15%;
}
.div4{
    display: inline-block;
height: 1em;
margin: 0;
min-height: 1em;
min-width: 1em;
vertical-align: top;
width: 1em;
width: 130px;
height: 130px;
color: #c2c2c2;

}
.div4 svg{
    fill: currentColor;
color: inherit;
height: inherit;
max-height: 100%;
max-width: 100%;
width: inherit;
}
.p1{
    color: #484848;
line-height: 26px;
margin-top: 10px;
text-align: center;
width: 230px ;
font-size: 18px;
letter-spacing: .1px;


}
small{
    font-size: 14px;
letter-spacing: .09px;
line-height: 18px;
}