.carousel {
  display: flex;
  overflow-x: auto;
  align-items: center;
  justify-content: flex-start; /* Adjusted */
  padding: 20px 10px; /* Adjusted */
  min-width: 100%; /* Ensures the carousel takes the full width */
}

.small-carousel {
  display: flex;
  overflow-x: auto;
  align-items: center;
  justify-content: flex-start; /* Adjusted */
  padding: 20px 10px; /* Adjusted */
  min-width: 100%; /* Ensures the carousel takes the full width */
}
  #carousel-item{
    flex: 0 0 auto;
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
    transition: background-color 0.3s ease;
  }
  
  .slot-item {
    flex: 0 0 auto;
    width: 150px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slot-item:last-child {
    margin-right: 0;
  }
  .disabled:hover{
    cursor: not-allowed;
    
  }
  .active{
    cursor: pointer;
  }
  