/* Add these styles to your CSS file */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
}
.carousel-control-prev-icon{
  left: 1em;
}
.carousel-control-next-icon{
    right: 1em;
}


.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 1;
}


.visually-hidden {
  display: none;
}
