body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Proxima Nova Rg";
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  flex-shrink: 0;
}
