* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Proxima Nova Rg";

}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  flex-shrink: 0;
}





.video-container {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  z-index: 0;
  opacity: 0; /* Initially hide the video */
  transition: opacity 0.5s ease-in-out;
}
.video-container.loaded {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide the content initially */
.main:not(.visible) {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Reveal the content when it's visible */
.main.visible {
  visibility: visible;
  opacity: 1;
}
.hidden {
  display: none;
}


/* Default styling for larger screens */
.contnu {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* External Stylesheet */
.contnu .custom-span {
  font-size: 52px;
  font-weight: 600;
  font-family: "Proxima Nova Rg";
}

.contnu .custom-paragraph {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  font-family: "Proxima Nova Rg";
}

/* Add your other styles as needed */




  

  


.evaluer {
  background-color: gray;
  z-index: 1;
  opacity: 0.7;
  border-radius: 12px;
}

.slider {
  margin-right: 40px;
  margin-left: 40px;
}

.arrow {
  font-size: 30px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: white;
  box-shadow: 0 0 5px 3px #ccc;
  display: flex;
  position: absolute;
  top: 150px;
  z-index: 1;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.arrow-right {
  display: flex;
  right: -30px;
}
.arrow-left {
  display: flex;
  left: -30px;
}

.near_content {
  margin-top: 120px;
}
.wrapper {
  margin: 50px auto;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 0 40px 2px rgba(37, 73, 214, 0.18);
}

.feature-box {
  padding: 40px 5px 30px 60px;
}
.feature-box h3 {
  margin-top: 15%;
}
.feature-box h3 {
  margin-top: 15%;
}
.feature-box p {
  margin: 30px auto;
}

.feature-box button {
  text-decoration: none !important;
  margin-right: 30px;
}

.feature-box .btn-one {
  color: white;
}
.feature-img {
  padding: 40px;
}


.city-container{
  margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    margin-top: 20px;
    
    padding-right: 15px;
    width: 100%/*! layout with aside content */;



}
.city-container h1{
  font-size: 42px;
    margin: 56px 0 24px;
    color: #2a2c32;
    text-align: center;
    font-family: 'ProximaNova-Bold';
}
.city-div{
  display: grid;
    grid-template-columns: repeat(4,1fr);
}
.city-ul{
  margin: 40px 0 40px 30px;
  list-style: none;
    padding-left: 0;
    
}
.city-ul li{
  margin-bottom: 16px;
    text-align: left;
    cursor: pointer;
    margin-left: 40px;
    

}
.span-li{
  align-items: center;
    display: flex;
}
.span-div{
  margin-right: 8px;
  display: inline-block;
    height: 1em;
    margin: 0;
    min-height: 1em;
    min-width: 1em;
    vertical-align: top;
    width: 100%;
}
.span-div svg{
  transform: rotate(270deg);
  fill: currentColor;
    color: inherit;
    height: inherit;
    max-height: 100%;
    max-width: 100%;
}
.span-div svg path {
  fill: #00a3ad;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .contnu {
    width: 100%; /* Adjust the width as needed */
    padding: 10px;
    margin: 0 auto; /* Center the element horizontally */
    position: absolute; /* Reset positioning */
    transform: translate(-50%, -50%); /* Reset transform */
  }

  /* Additional styling for smaller screens if needed */
  .contnu .custom-span {
    font-size: 36px; /* Adjust font size for smaller screens */
  }

  .contnu .custom-paragraph {
    font-size: 16px; /* Adjust font size for smaller screens */
    line-height: 20px; /* Adjust line height for smaller screens */
  }

  .contnu .input-group {
    flex-direction: row; /* Stack elements vertically on smaller screens */
    align-items: center; /* Center items horizontally */
  }
  .contnu .input-group-text{
    display: none;
  }

  .city-div {
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns for smaller screens */
  }

  .span-li {
    display: block; /* Change to block-level for better stacking on small screens */
    text-align: center; /* Center the text */
  }
  .city-ul{
    margin-left: 0;
  }
  .city-ul li{
    margin-left: 0;
  }
  .city-container h1{
    font-size: 24px;
      
  }
}